<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>686651634286-917t1ktt1ninb3d8i22u58nu6sjboffr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686651634286-917t1ktt1ninb3d8i22u58nu6sjboffr</string>
	<key>API_KEY</key>
	<string>AIzaSyCrykX_O6DvgnJbT4PFNbCIgGG0bwujnoE</string>
	<key>GCM_SENDER_ID</key>
	<string>686651634286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lilanhdoWorkflows</string>
	<key>PROJECT_ID</key>
	<string>lilanhdo-workflows</string>
	<key>STORAGE_BUCKET</key>
	<string>lilanhdo-workflows.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686651634286:ios:561399fb0df394213d2c7f</string>
	<key>DATABASE_URL</key>
	<string>https://lilanhdo-workflows-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>